/* Add this to your CSS */
.booked {
  background-color: red; /* Set the background color to red for booked seats */
  color: white; /* Set the text color to white for better visibility */
  pointer-events: none; /* Disable pointer events for booked seats */
}

.selected {
  background-color: green; /* Set the background color to green for selected seats */
  color: white; /* Set the text color to white for better visibility */
}

.theater {
  margin-top: 50px; /* Adjust the value as needed */
}

.next-button{
  margin-top: 20px;
  width: 200px;
}